In [16]:
import pandas as pd
import csv
# load the csv and user row 0 as headers
df = pd.read_csv("Natural_Gas_Prices(2).csv", header = 0)

# reverse the data
data=df.iloc[::-1]

In [17]:
data.to_csv("NATGAS_ElectricPower.csv",index=False)

In [9]:
data

     Dec 2012  3.35
442  Jan 1976  0.54
441  Feb 1976  0.54
440  Mar 1976  0.54
439  Apr 1976  0.55
438  May 1976  0.55
..        ...   ...
4    Jul 2012  2.59
3    Aug 2012  2.86
2    Sep 2012  2.71
1    Oct 2012  3.03
0    Nov 2012  3.35

[443 rows x 2 columns]